
<app-header></app-header>

<div class="container-fluid bg-white py-6 my-2">
  <div class="container h-50">
    <div class="row g-5 align-items-center">
      <div class="col-lg-7 col-md-12">
        <h1 class="display-1 mb-4 animated bounceInDown">Commune<span class="text-cusstom">Connect</span> vous donne les contacts necessaires de
          votre commune</h1>
      </div>
      <div class="col-lg-5 col-md-12">
        <img src="https://img.freepik.com/photos-gratuite/femme-repondant-vieux-telephone-retro_53876-107975.jpg?size=626&ext=jpg&ga=GA1.2.359486737.1694125754&semt=sph" class="img-fluid rounded animated zoomIn" alt="">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12  col-md-6 col-lg-2 sty  my-1" id="activ">Tout</div>
    <div class="col-12 col-md-6 col-lg-2 sty  my-1">Divertissement</div>
    <div class="col-12 col-md-6 col-lg-2 sty  my-1">Services</div>
    <div class="col-12 col-md-6 col-lg-2 sty  my-1 ">Sante</div>
  </div>

</div>
<div class="ag-format-container">
  <div class="ag-courses_box">
    <div class="ag-courses_item" *ngFor="let item of annuaireList">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg">
        </div>
        <div class="ag-courses-item_title">
          <img src="http://localhost:8000/images/{{this.item.images}}" alt="" style="width: 60px ;height: 60px;" class="rounded-circle">
        {{item.nom}}
        </div>
        <div class="ag-courses-item_date-box">
          <i class="fa-solid fa-location-dot fa-lg me-2 " style="color: #FF9700;"></i>
         <span class="fw-bold">{{item.adress}}</span>
        </div>
        <div class="ag-courses-item_date-box">
         <i class="fa-solid fa-envelope fa-lg me-2" style="color: #ff9700;"></i> {{item.couriel}}
        </div>
      </a>
    </div>

    <!-- <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

      <div class="ag-courses-item_title">
        <img src="https://t3.ftcdn.net/jpg/02/02/77/08/240_F_202770838_YodUdmNUP5Ao1BhKADq2ICBzl84p0mDP.jpg" alt="" style="width: 60px ;height: 60px;" class="rounded-circle">
        CompanyName
      </div>

      <div class="ag-courses-item_date-box">
        Rue 13 HLM
      </div>
      <div class="ag-courses-item_date-box">
        78 123 4567
      </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          <img src="https://img.freepik.com/photos-gratuite/element-conception-3d-deal-hand-shake_460848-11295.jpg?size=626&ext=jpg&ga=GA1.2.359486737.1694125754&semt=ais" alt="" style="width: 60px ;height: 60px;" class="rounded-circle">
          Brand
        </div>

        <div class="ag-courses-item_date-box">
          Rue 13 HLM
        </div>
        <div class="ag-courses-item_date-box">
          78 123 4567
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

      <div class="ag-courses-item_title">
        <img src="https://img.freepik.com/photos-gratuite/illustration-chaussures-sport-pour-mode-masculine-generee-par-ia_188544-19541.jpg?size=626&ext=jpg&ga=GA1.2.359486737.1694125754&semt=ais" alt="" style="width: 60px ;height: 60px;" class="rounded-circle">
        Dou'Shoes
      </div>

      <div class="ag-courses-item_date-box">
        Rue 13 HLM
      </div>
      <div class="ag-courses-item_date-box">
        78 123 4567
      </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

      <div class="ag-courses-item_title">
        <img src="https://img.freepik.com/photos-gratuite/journee-femme-8-mars-espace-votre-texte-3d-render-illustration-design_460848-10132.jpg?size=626&ext=jpg&ga=GA1.2.359486737.1694125754&semt=ais" alt="" style="width: 60px ;height: 60px;" class="rounded-circle">
        LifeStyle
      </div>

      <div class="ag-courses-item_date-box">
        Rue 13 HLM
      </div>
      <div class="ag-courses-item_date-box">
        78 123 4567
      </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          <img src="https://img.freepik.com/photos-gratuite/icone-medical-sante-medecine_53876-71303.jpg?size=626&ext=jpg&ga=GA1.2.359486737.1694125754&semt=ais" alt="" style="width: 60px ;height: 60px;" class="rounded-circle">
          NafiPharma
        </div>

        <div class="ag-courses-item_date-box">
          Rue 13 HLM
        </div>
        <div class="ag-courses-item_date-box">
          78 123 4567
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          <img src="https://img.freepik.com/photos-gratuite/alimentation-sante-nutrition-vie-alimentation-concept_53876-120817.jpg?size=626&ext=jpg&ga=GA1.2.359486737.1694125754&semt=sph" alt="" style="width: 60px ;height: 60px;" class="rounded-circle">
          SafLokho
        </div>

        <div class="ag-courses-item_date-box">
          Rue 13 HLM
        </div>
        <div class="ag-courses-item_date-box">
          78 123 4567
        </div>
      </a>
    </div> -->

  </div>
</div>

<app-footer></app-footer>
