<!-- Footer Start -->
<div class="container-fluid footer py-5 my-5 mb-0 bg-white wow bounceInUp  border-custom " data-wow-delay="0.0s">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-item">
          <img src="assets/img/logo.png" alt="" style="width: 180px;height: 180px;">
          <div class="footer-icon d-flex">
            <a class="btn btn-custom btn-sm-square me-2 rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-custom btn-sm-square me-2 rounded-circle" href=""><i class="fab fa-twitter"></i></a>
            <a href="#" class="btn btn-custom btn-sm-square me-2 rounded-circle"><i class="fab fa-instagram"></i></a>
            <a href="#" class="btn btn-custom btn-sm-square rounded-circle"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-item">
          <h4 class="mb-4">Liens Utiles</h4>
          <div class="d-flex flex-column align-items-start">
            <a class="text-body mb-3" routerLink="/condition"><i class="fa fa-check text-cusstom me-2"></i>Conditions d'utilisations</a>
            <a class="text-body mb-3" routerLink="/politique"><i class="fa fa-check text-cusstom me-2"></i>Politiques de confidentialites</a>
            <a class="text-body mb-3" routerLink="/contact"><i class="fa fa-check text-cusstom me-2"></i>Contact</a>
            <a class="text-body mb-3" routerLink="/galerie"><i class="fa fa-check text-cusstom me-2"></i>Galerie</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-item">
          <h4 class="mb-4">Contact</h4>
          <div class="d-flex flex-column align-items-start">
            <p><i class="fa fa-map-marker text-cusstom me-2"></i> Simplon yoff, Dakar, Senegal</p>
            <p><i class="fa fa-phone text-cusstom  me-2"></i> (+221) 33 824 29 27</p>
            <p><i class="fa fa-envelope text-cusstom  me-2"></i> simplon.senegal@simplon.co</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="mb-4">Newsletter</h4>
        <div class="input-group flex-nowrap mb-2">
          <span class="input-group-text" id="addon-wrapping">@</span>
          <input type="text" class="form-control" placeholder="address email" aria-label="Username"
            aria-describedby="addon-wrapping" [(ngModel)]="email" name="email">
        </div>
        <div class="input-group flex-nowrap">
          <button type="button" class="btn btn-custom btn-sm w-100" (click)="onSubmit()">S'inscrire</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->


<!-- Copyright Start -->
<div class="container-fluid copyright bg-custom py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        <span class="text-light"><a href="#" class="text-cusstom"><i class="fas fa-copyright text-cusstom me-2"></i>CommuneConnect</a>, All
          right reserved.</span>
      </div>
      <div class="col-md-6 my-auto text-center text-md-end text-white">
        Designed By <span class="border-bottom text-cusstom">Simplon Boys</span>
      </div>
    </div>
  </div>
</div>
<!-- Copyright End -->
