

.account-block {
  padding: 0;
  background-image: url("https://img.freepik.com/vecteurs-premium/portrait-type-souriant-sympathique-noir-illustration-vectorielle-image-papier-peint-bampw-1c_985204-20370.jpg?size=626&ext=jpg&ga=GA1.2.1687175742.1704798003&semt=ais");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.account-block .overlay {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,
    151,
    0, 0.1);
}

.account-block .account-testimonial {
  text-align: center;
  color: #fff;
  position: absolute;
  margin: 0 auto;
  padding: 0 1.75rem;
  bottom: 3rem;
  left: 0;
  right: 0;
}

.text-theme {
  color: #ff9700 !important;
}

.btn-theme {
  background-color: #ff9700;
  border-color: #ff9700;
  color: #fff;
  font-size: larger;
  cursor: pointer;
}
.btn-th {
  background-color: #c7c1b6;
  border-color: #ff9700;
  color: #ff9700;
  font-size: larger;
  cursor: pointer;
}

.oublie{
  cursor: pointer;
  border: 1px solid #ff9700;
  border-radius: 5px;
}
