<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status? 'hide' : ''">
  <!-- [ngClass]="status? 'hide' : ''" -->
  <div class="logo">

    <img src="assets/img/logo.png" alt="" style="width: 100px;height: 100px;">
  </div>

  <ul class="side-menu top">
    <li>
      <a routerLink="/dash">
        <i class='bx bxs-dashboard' style="color: #FF9700;"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-annonce">
        <i class="fa-solid fa-bullhorn fa-sm me-2 mx-2" style="color: #FF9700;"></i>
        <span class="text">Gestion Annonces</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-ressource">
       <i class="fa-solid fa-file-invoice fa-sm mb-2 mx-2 my-1" style="color: #FF9700;"></i>
        <span class="text">Gestion Ressources</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-commentaire">
                <i class="bx bxs-message-dots bxs-sm  " style="color: #FF9700;"></i>
        <span class="text">Gestion Commentaires</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-annuaire">
              <i class="fa-solid fa-book-open fa-sm me-2 mx-2" style="color: #FF9700;"></i>
        <span class="text">Gestion Annuaires</span>
      </a>
    </li>
    <li class="active">
      <a routerLink="/gestion-bien">
                <i class="bi bi-arrow-down-left-square-fill mx-2"  style="color: #FF9700;"></i>
        <span class="text">Gestion Bien</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-produit">
         <i class="fa-solid fa-shop fa-sm mx-2" style="color: #FF9700;"></i>
        <span class="text">Gestion Produit</span>
      </a>
    </li>
    <li>
      <a routerLink="/message">
      <i class="fa-solid fa-message fa-sm mx-2" style="color: #FF9700;">
      </i><span class="text">Message</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <!-- <li>
      <a routerLink="/profil">
        <i class='bx bxs-cog'></i>
        <span class="text">Profil</span>
      </a>
    </li> -->
    <li>
      <a routerLink="/acceuil">
        <i class="bi bi-arrow-right mx-2" style="color: #FF9700;"></i>
        <span class="text">allez au site</span>
      </a>
    </li>
    <li>
      <a  (click)="logout()"  class="logout">
        <i class='bx bxs-log-out-circle'></i>
        <span class="text">Deconnexion</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->



<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i (click)="addToggle()" class='bx bx-menu'></i>
    <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Search...">
        <button type="button" class="search-btn"><i class='bx bx-search'></i></button>
      </div>
    </form>
    <a href="#" class="notification">
      <i class='bx bxs-bell'></i>
    </a>
    <a href="#" class="profile">
      <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
    </a>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a routerLink="/dash">Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a class="active" routerLink="/annuaire">Annuaire</a>
          </li>
        </ul>
      </div>
    </div>

   <ul class="box-info">
      <li class="cardTete shadow">
        <i class='bx'><i class="fa-solid fa-user fa-sm" style="color: #19375c;"></i></i>
        <span class="text">
          <h3>{{utilisateurList.length}}</h3>
          <p>Utilisateurs</p>
        </span>
      </li>
      <li class="cardTete shadow">
        <i class='bx'><i class="fa-solid fa-bullhorn fa-sm me-2 mx-2" style="color: #FF9700;"></i>
</i>
        <span class="text">
          <h3>{{annonceList.length}}</h3>
          <p>Annonces</p>
        </span>
      </li>
      <li class="cardTete  shadow">
        <i class='bx'><i class="fa-solid fa-book-open fa-sm" style="color: #19375c;"></i></i>
        <span class="text">
          <h3>{{ressourceList.length}}</h3>
          <p>Ressources</p>
        </span>
      </li>
    </ul>


  <!-- coprs -->
   <button
      type="button"
      class="btn btn-custom text-center mb-2"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Ajouter bien
    </button>


 <!-- corps  liste des annonces -->
    <table class="table" *ngIf="bienList.length < 0">
      <thead>
        <tr>
          <th>N</th>
          <th>Nom</th>
          <th>Statut</th>
          <th>Contact</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="5" class="text-center">Aucune donnees disponible</td>
        </tr>
        <tr></tr>
      </tbody>
    </table>
    <table
      datatable
      [dtOptions]="dtOptions"
      class="row-border hover table"
      *ngIf="bienList.length > 0"
    >
      <thead>
        <tr>
          <th>N</th>
          <th>Nom</th>
          <th>Statut</th>
          <th>Contact</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of bienList;let index=index">
          <td>{{index+1}}</td>
          <td>{{ item.nom }}</td>
          <td>{{ item.statut}}</td>
          <td>{{ item.contact}}</td>
          <td>
            <a data-bs-toggle="modal"
      data-bs-target="#detail" (click)="getBien(item)"><i class="fa-solid fa-xl fa-eye me-2 mb-2" style="color: #ff9700;"></i></a>
            <a data-bs-toggle="modal"
      data-bs-target="#modifie"  (click)="chargerInfosTest(item)"><i class="fa-solid fa-xl fa-pen-to-square me-2 mb-2" style="color: #ff9700;"></i></a>
            <a (click)="SupprimeBien(item.id)"><i class="fa-solid fa-trash fa-xl me-2 mb-2"  style="color: #ff9700;"></i></a>
          </td>
        </tr>
      </tbody>
    </table>


  <!-- end corps -->
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->

<!-- Button trigger modal -->


<!-- Modal ajout-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajout bien</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="form-group">
            <label for="nom">Nom</label>
            <input
              type="text"
              class="form-control"
              id="nom"
              placeholder="Nom"
              name="nom"
              [(ngModel)]="nom" (input)="verifNomFonction()"
            />
            <p class="text-danger" *ngIf="!exactNom">{{verifNom}}</p>
                <p class="text-success" *ngIf="exactNom"><i class="bi bi-check2-all"></i> Exact !</p>


          </div>
          <div class="form-group">
            <label for="date">Caracteristique</label>
            <input
              type="text"
              class="form-control"
              id="caracteristique"
              placeholder="Caracteristique"
              name="caracteristique"
              [(ngModel)]="caracteristique" (input)="verifCarateristiqueFonction()"
            />
             <p class="text-danger" *ngIf="!exactCaracteristique">{{verifCaracteristique}}</p>
                <p class="text-success" *ngIf="exactCaracteristique"><i class="bi bi-check2-all"></i> Exact !</p>

          </div>
          <div class="form-group">
            <label for="contact">Contact</label>
            <input
              type="text"
              class="form-control"
              id="contact"
              placeholder="Contact"
              name="contact"
              [(ngModel)]="contact" (input)="verifContactFonction()"
            />
             <p class="text-danger" *ngIf="!exactContact">{{verifContact}}</p>
                <p class="text-success" *ngIf="exactContact"><i class="bi bi-check2-all"></i> Exact !</p>

          </div>
           <div class="form-group mb-2">
            <label for="image">Image</label>
            <input
              type="file"
              class="form-control"
              id="image"
              placeholder=""
              name="image"
              (change)="getFile($event)" (input)="verifImageFonction()"
            />
            <p class="text-danger" *ngIf="!exactImage">{{verifImage}}</p>
                <p class="text-success" *ngIf="exactImage"><i class="bi bi-check2-all"></i> Exact !</p>

          </div>
          <div class="form-group me-4">
            <label for="date">Status</label>
            <select [(ngModel)]="statut" name="statut" class="w-100" (input)="verifStatutFonction()">
              <option value="perdu">perdu</option>
              <option value="retrouver">retrouver</option>
            </select>
            <p class="text-danger" *ngIf="!exactStatut">{{verifStatut}}</p>
                <p class="text-success" *ngIf="exactStatut"><i class="bi bi-check2-all"></i> Exact !</p>

          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
       <button type="button" class="btn btn-primary" *ngIf="exactNom == false || exactCaracteristique == false || exactContact == false || exactImage == false || exactStatut == false" disabled >
          Ajouter
        </button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" *ngIf="exactNom === true && exactCaracteristique === true && exactContact === true && exactImage === true  && exactStatut === true" data-bs-dismiss="modal" >
          Ajouter
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal details -->
<div class="modal fade container" id="detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Details Biens</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    <div>
      <div class="col-12 col-md-12" >
        <div class="card shadow">
          <div class="row g-0 align-items-center">
            <div class="col-md-5">
              <img src="http://localhost:8000/images/{{this.bienSelectionner.images}}" class="card-img rounded-start" alt="Donner l image"/>
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p><span class="fw-bold">Nom:</span>{{this.bienSelectionner.nom
                  }}
                </p>
                <p>{{this.bienSelectionner.caracteristique
                  }}
                </p>
                <p class="fw-bold" style="color: #ff9700;"> Contact:{{this.bienSelectionner.contact
                  }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <span class="badge fw-bold  bg-secondary" style="color: black;">Status:{{bienSelectionner.statut}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>

<!-- //modifier bien -->
<div class="modal fade" id="modifie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modifie">Bien</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="nom" class="col-form-label">Nom</label>
              <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="nom">
            </div>
            <div class="mb-3">
              <label for="caracteristique" class="col-form-label">Caracteristique</label>
              <input type="text" class="form-control" id="caracteristique" name="caracteristique" [(ngModel)]="caracteristique" >
            </div>
            <div class="mb-3">
              <label for="contact"  class="col-form-label">Contact</label>
              <input value=""  type="text" class="form-control" id="contact" name="contact" [(ngModel)]="contact">
            </div>
             <div class="form-group me-4">
            <label for="date">Status</label>
            <select [(ngModel)]="statut"  class="w-100" name="status">
              <option value="perdu">perdu</option>
              <option value="retrouver">retrouver</option>
            </select>
          </div>
           <div class="form-group">
            <label for="image">Image</label>
            <input
              type="file"
              class="form-control"
              id="image"
              placeholder=""
              name="image"
              (change)="getFile($event)"
            />
          </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
          <button type="button" class="btn btn-primary" (click)="modifierBien()">Envoyer</button>
        </div>
      </div>
    </div>
  </div>

