<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
  <!-- -->
  <div class="logo">

    <img src="assets/img/logo.png" alt="" style="width: 100px;height: 100px;">
  </div>

  <ul class="side-menu top">
    <li>
      <a routerLink="/dash">
        <i class="bx bxs-dashboard" style="color: #FF9700;"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li >
      <a routerLink="/gestion-annonce">
        <i class="fa-solid fa-bullhorn fa-sm me-2 mx-2" style="color: #FF9700;"></i>
        <span class="text">Gestion Annonces</span>
      </a>
    </li>
    <li class="active">
      <a routerLink="/gestion-ressource">
         <i class="fa-solid fa-file-invoice fa-sm mb-2 mx-2 my-1" style="color: #FF9700;"></i>
        <span class="text">Gestion Ressources</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-commentaire">
        <i class="bx bxs-message-dots bxs-sm  " style="color: #FF9700;"></i>
        <span class="text">Gestion Commentaires</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-annuaire">
       <i class="fa-solid fa-book-open fa-sm me-2 mx-2" style="color: #FF9700;"></i>
        <span class="text">Gestion Annuaires</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-bien">
        <i class="bi bi-arrow-down-left-square-fill mx-2"  style="color: #FF9700;"></i>
        <span class="text">Gestion Bien</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-produit">
        <i class="fa-solid fa-shop fa-sm mx-2 " style="color: #FF9700;"></i>
        <span class="text">Gestion Produit</span>
      </a>
    </li>
    <li>
      <a routerLink="/message">
      <i class="fa-solid fa-message fa-sm mx-2" style="color: #FF9700;">
      </i><span class="text">Message</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <!-- <li>
      <a routerLink="/profil">
        <i class='bx bxs-cog'></i>
        <span class="text">Profil</span>
      </a>
    </li> -->
    <li>
      <a routerLink="/acceuil">
        <i class="bi bi-arrow-right mx-2" style="color: #FF9700;"></i>
        <span class="text">allez au site</span>
      </a>
    </li>
    <li>
      <a (click)="logout()" class="logout">
        <i class='bx bxs-log-out-circle'></i>
        <span class="text">Deconnexion</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->



<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i (click)="addToggle()" class='bx bx-menu'></i>
    <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Search...">
        <button type="button" class="search-btn"><i class='bx bx-search'></i></button>
      </div>
    </form>
    <a href="#" class="notification">
      <i class='bx bxs-bell'></i>
    </a>
    <a href="#" class="profile">
      <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
    </a>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a class="active" href="#">Ressource</a>
          </li>
        </ul>
      </div>
    </div>

   <ul class="box-info">
      <li class="cardTete shadow">
        <i class='bx'><i class="fa-solid fa-user fa-sm" style="color: #19375c;"></i></i>
        <span class="text">
          <h3>{{utilisateurList.length}}</h3>
          <p>Utilisateurs</p>
        </span>
      </li>
      <li class="cardTete shadow">
        <i class='bx'><i class="fa-solid fa-bullhorn fa-sm me-2 mx-2" style="color: #FF9700;"></i>
</i>
        <span class="text">
          <h3>{{annonceList.length}}</h3>
          <p>Annonces</p>
        </span>
      </li>
      <li class="cardTete  shadow">
        <i class='bx'><i class="fa-solid fa-book-open fa-sm" style="color: #19375c;"></i></i>
        <span class="text">
          <h3>{{ressourceList.length}}</h3>
          <p>Ressources</p>
        </span>
      </li>
    </ul>

    <!-- corps  -->
    <button
      type="button"
      class="btn btn-custom text-center mb-2"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Ajouter ressource
    </button>
     <table class="table" *ngIf="ressourceList.length < 0">
      <thead>
        <tr>
          <th>N</th>
          <th>Nom</th>
          <th>Contenue</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4" class="text-center">Aucune donnees disponible</td>
        </tr>
        <tr></tr>
      </tbody>
    </table>
    <table
      datatable
      [dtOptions]="dtOptions"
      class="row-border hover table"
      *ngIf="ressourceList.length > 0"
    >
      <thead>
        <tr>
          <th>N</th>
          <th>Nom</th>
          <th>Contenue</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ressourceList;let index=index">
          <td>{{index+1}}</td>
          <td>{{ item.nom}}</td>
          <td>{{ item.nature|slice :0:30}} ...</td>
          <td>
            <a data-bs-toggle="modal"
      data-bs-target="#detail" (click)="getRessource(item)"><i class="fa-solid fa-xl fa-eye me-2 mb-2" style="color: #ff9700;"></i></a>
            <a data-bs-toggle="modal"
      data-bs-target="#modifie"  (click)="chargerInfosTest(item)"><i class="fa-solid fa-xl fa-pen-to-square me-2 mb-2" style="color: #ff9700;"></i></a>
            <a (click)="SupprimeRessource(item.id)"><i class="fa-solid fa-trash fa-xl me-2 mb-2"  style="color: #ff9700;"></i></a>
          </td>
        </tr>
      </tbody>
    </table>

  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->

<!-- Button trigger modal -->
<!-- Modal ajout-->
 <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajout ressource</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="form-group">
            <label for="description">Nom</label>
            <input
              type="text"
              class="form-control"
              id="nom"
              placeholder="Nom"
              name="nom"
              [(ngModel)]="nom" (input)="verifNomFonction()"
            />
            <p class="text-danger" *ngIf="!exactNom">{{verifNom}}</p>
                <p class="text-success" *ngIf="exactNom"><i class="bi bi-check2-all"></i> Exact !</p>


          </div>
          <div class="form-group">
            <label for="date">Contenue</label>
            <textarea name="nature" id="" cols="50" rows="8" [(ngModel)]="nature" (input)="verifNatureFonction()"></textarea>
            <p class="text-danger" *ngIf="!exactNature">{{verifNature}}</p>
                <p class="text-success" *ngIf="exactNature"><i class="bi bi-check2-all"></i> Exact !</p>

          </div>
           <!-- <div class="form-group">
            <label for="image">Image</label>
            <input
              type="file"
              class="form-control"
              id="image"
              placeholder=""
              name="image"
              (change)="getFile($event)"
            />
          </div> -->
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary"  *ngIf="exactNature === false || exactNom === false " (click)="onSubmit()" disabled>
          Ajouter
        </button>
        <button type="button" class="btn btn-primary"  *ngIf="exactNature === true && exactNom === true " (click)="onSubmit()">
          Ajouter
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal details -->
<div class="modal fade" id="detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Details ressourcce</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    <div>
      <div class="col-12 col-md-12" >
        <div class="card shadow">
          <div class="row g-0 align-items-center">
            <div class="col-md-8">
              <div class="card-body">
                <div>
                    <p>Nom Ressource: {{this.ressourceSelectionner.nom}}</p>
                </div>

                <p class="card-text mb-4">{{this.ressourceSelectionner.nature}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>

<!-- //modifier produit -->
<div class="modal fade" id="modifie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modifie">Ressource</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="nom_produit" class="col-form-label">Nom</label>
              <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="nom">
            </div>
            <div class="mb-3">
              <label for="prix" class="col-form-label">Nature</label>
              <input type="text" class="form-control" id="nature" name="nature" [(ngModel)]="nature">
            </div>
           <!-- <div class="form-group">
            <label for="image">Image</label>
            <input
              type="file"
              class="form-control"
              id="image"
              placeholder=""
              name="image"
              (change)="getFile($event)"
            />
          </div> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
          <button type="button" class="btn btn-primary" (click)="modifierRessource()">Envoyer</button>
        </div>
      </div>
    </div>
  </div>




