<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
  <!-- -->
  <div class="logo">
    <img src="assets/img/logo.png" alt="" style="width: 100px; height: 100px" />
  </div>

  <ul class="side-menu top">
    <li>
      <a routerLink="/dash">
        <i class="bx bxs-dashboard" style="color: #FF9700;"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li class="active">
      <a routerLink="/gestion-annonce">
        <i class="fa-solid fa-bullhorn fa-sm me-2 mx-2" style="color: #FF9700;"></i>
        <span class="text">Gestion Annonces</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-ressource">
         <i class="fa-solid fa-file-invoice fa-sm mb-2 mx-2 my-1" style="color: #FF9700;"></i>
        <span class="text">Gestion Ressources</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-commentaire">
        <i class="bx bxs-message-dots bxs-sm  " style="color: #FF9700;"></i>
        <span class="text">Gestion Commentaires</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-annuaire">
       <i class="fa-solid fa-book-open fa-sm me-2 mx-2" style="color: #FF9700;"></i>
        <span class="text">Gestion Annuaires</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-bien">
        <i class="bi bi-arrow-down-left-square-fill mx-2"  style="color: #FF9700;"></i>
        <span class="text">Gestion Bien</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-produit">
        <i class="fa-solid fa-shop fa-sm mx-2 " style="color: #FF9700;"></i>
        <span class="text">Gestion Produit</span>
      </a>
    </li>
    <li>
      <a routerLink="/message">
      <i class="fa-solid fa-message fa-sm mx-2" style="color: #FF9700;">
      </i><span class="text">Message</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a routerLink="/acceuil">
        <i class="bi bi-arrow-right mx-2" style="color: #FF9700;"></i>
        <span class="text">allez au site</span>
      </a>
    </li>
    <li>
      <a (click)="logout()" class="logout">
        <i class="bx bxs-log-out-circle"></i>
        <span class="text">Deconnexion</span>
      </a>
    </li>
    <li></li>
  </ul>
</section>
<!-- SIDEBAR -->

<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i (click)="addToggle()" class="bx bx-menu"></i>
    <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Search..." />
        <button type="button" class="search-btn">
          <i class="bx bx-search"></i>
        </button>
      </div>
    </form>
    <a href="#" class="notification">
      <i class="bx bxs-bell"></i>
    </a>
    <a href="#" class="profile">
      <img
        src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g"
      />
    </a>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active" href="#">Annonce</a>
          </li>
        </ul>
      </div>
    </div>

    <ul class="box-info">
      <li class="cardTete shadow">
        <i class='bx'><i class="fa-solid fa-user fa-sm" style="color: #19375c;"></i></i>
        <span class="text">
          <h3>{{utilisateurList.length}}</h3>
          <p>Utilisateurs</p>
        </span>
      </li>
      <li class="cardTete shadow">
        <i class='bx'><i class="fa-solid fa-bullhorn fa-sm me-2 mx-2" style="color: #FF9700;"></i>
</i>
        <span class="text">
          <h3>{{annonceList.length}}</h3>
          <p>Annonces</p>
        </span>
      </li>
      <li class="cardTete  shadow">
        <i class='bx'><i class="fa-solid fa-book-open fa-sm" style="color: #19375c;"></i></i>
        <span class="text">
          <h3>{{ressourceList.length}}</h3>
          <p>Ressources</p>
        </span>
      </li>
    </ul>
    <button
      type="button"
      class="btn btn-custom text-center mb-2"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Ajouter annonce
    </button>
    <!-- corps  liste des annonces -->
    <table class="table" *ngIf="annonceList.length < 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Lieu</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="5" class="text-center">Aucune donnees disponible</td>
        </tr>
        <tr></tr>
      </tbody>
    </table>
    <table
      datatable
      [dtOptions]="dtOptions"
      class="row-border hover table"
      *ngIf="annonceList.length > 0"
    >
      <thead>
        <tr>
          <th>N</th>
          <th>Date</th>
          <th>Lieu</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of annonceList;let index=index">
          <td>{{index + 1}}</td>
          <td>{{ item.date_activite }}</td>
          <td>{{ item.lieu }}</td>
          <td>{{ item.description| slice:0:30 }} ...</td>
          <td>
            <a data-bs-toggle="modal"
      data-bs-target="#detail" (click)="getAnnonce(item)"><i class="fa-solid fa-xl fa-eye me-2 mb-2" style="color: #ff9700;"></i></a>
            <a data-bs-toggle="modal"
      data-bs-target="#modifie" (click)="chargerInfosTest(item)"><i class="fa-solid fa-xl fa-pen-to-square me-2 mb-2" style="color: #ff9700;"></i></a>
            <a (click)="SupprimeAnnonce(item.id)"><i class="fa-solid fa-trash fa-xl me-2 mb-2"  style="color: #ff9700;"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->

<!-- Button trigger modal -->

<!-- Modal ajout-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajout annonce</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              id="description"
              rows="3"
              name="description"
              [(ngModel)]="description" (input)="verifDescriptionFonction()"
            ></textarea>
            <p class="text-danger" *ngIf="!exactDescription">{{verifDescription}}</p>
                <p class="text-success" *ngIf="exactDescription"><i class="bi bi-check2-all"></i> Exact !</p>
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <input
              type="date"
              class="form-control"
              id="date"
              placeholder="Date activite"
              name="date"
              [(ngModel)]="date" (input)="verifDateFonction()" min="{{ tomorrow | date:'yyyy-MM-dd' }}"
            />
            <p class="text-danger" *ngIf="!exactDate">{{verifDate}}</p>
                <p class="text-success" *ngIf="exactDate"><i class="bi bi-check2-all"></i> Exact !</p>

          </div>
          <div class="form-group">
            <label for="lieu">Lieu</label>
            <input
              type="text"
              class="form-control"
              id="lieu"
              placeholder="Lieu activite"
              name="lieu"
              [(ngModel)]="lieu" (input)="verifLieuFonction()"
            />
             <p class="text-danger" *ngIf="!exactLieu">{{verifLieu}}</p>
                <p class="text-success" *ngIf="exactLieu"><i class="bi bi-check2-all"></i> Exact !</p>

          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input
              type="file"
              class="form-control"
              id="image"
              placeholder=""
              name="image"
              (change)="getFile($event)" (input)="verifImageFonction()"
            />
            <p class="text-danger" *ngIf="!exactImage">{{verifImage}}</p>
                <p class="text-success" *ngIf="exactImage"><i class="bi bi-check2-all"></i> Exact !</p>

          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-custom" *ngIf="exactDescription === true && exactLieu === true && exactDate === true && exactImage === true" (click)="onSubmit()"   data-bs-dismiss="modal">
          Ajouter
        </button>
         <button type="button"  class="btn btn-primary" *ngIf="exactDescription === false || exactLieu === false || exactDate === false || exactImage === false" (click)="onSubmit()" disabled>
          Ajouter
        </button>
      </div>
    </div>
  </div>
</div>
<!-- modal details -->
<div class="modal fade" id="detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Details annonce</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    <div>
      <div class="col-12 col-md-12" >
        <div class="card shadow">
          <div class="row g-0 align-items-center">
            <div class="col-md-4">
              <img src="http://localhost:8000/images/{{this.annonceSelectionner.images}}" class="card-img rounded-start" alt="Artist desk"/>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p>Lieu:{{this.annonceSelectionner.lieu
                  }}
                </p>

                <p class="card-text mb-4">{{this.annonceSelectionner.description}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <span class="card-text small"><span class="far fa-calendar-alt me-2"></span>Date:{{annonceSelectionner.date_activite}}</span>
                  <a href="#" class="small"><span class="far fa-comments me-2"></span>21</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>

 <!-- //modifier annonce -->
<div class="modal fade" id="modifie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Annonce</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="descriptionUp" class="col-form-label">Description</label>
              <input type="text" class="form-control" id="descriptionUp" name="description" [(ngModel)]="description"  >
            </div>
            <div class="mb-3">
              <label for="dateUp" class="col-form-label">Date</label>
              <input type="text" class="form-control" id="date" name="date" [(ngModel)]="date" >
            </div>
            <div class="mb-3">
              <label for="lieu" class="col-form-label">Lieu</label>
              <input value=""  type="text" class="form-control" id="lieu" name="lieu" [(ngModel)]="lieu">
            </div>
            <div class="mb-3">
              <label for="image" class="col-form-label">Image</label>
              <input value=""  type="file" class="form-control" id="imageUp" name="imageUp" (change)="getFile($event)"  [(ngModel)]="image">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
          <button type="button" class="btn btn-custom"  (click)="modifierAnnonce()" data-bs-dismiss="modal">Envoyer</button>
        </div>
      </div>
    </div>
  </div>
