<app-header></app-header>
<br>
<br>
<br>
<br>
<br>
  <h5 class="text-center">Descriptif</h5>
<div id="trait" class="mb-2">
    <div id="line"></div>
  </div>
  <div class="container py-5 my-5">
   <h5> 1. Introduction</h5>

Les présentes conditions d'utilisation  régissent l'utilisation de la plateforme communautaire  que nous mettons à votre disposition.

  <h5>2. Acceptation des Conditions</h5>

En utilisant la Plateforme, vous acceptez les présentes Conditions. Si vous n'acceptez pas les Conditions, vous ne devez pas utiliser la Plateforme.

<h5>3. Accès à la Plateforme</h5>

La Plateforme est accessible gratuitement à toute personne disposant d'une connexion internet.

<h5>4. Contenu de la Plateforme</h5>

La Plateforme contient du contenu généré par les utilisateurs , ainsi que du contenu que nous fournissons .

<h5>5. Propriété intellectuelle</h5>

Le Contenu Propriétaire est protégé par les droits de propriété intellectuelle en vigueur. Vous ne pouvez pas copier, reproduire, modifier, distribuer, afficher ou utiliser le Contenu Propriétaire sans notre autorisation écrite préalable.

<h5>6. Utilisation du Contenu</h5>

Vous êtes responsable du Contenu que vous publiez sur la Plateforme. Vous devez vous assurer que le Contenu que vous publiez est licite, respectueux des droits d'autrui et ne viole aucune loi ou réglementation.

<h5>7. Modération</h5>

Nous nous réservons le droit de modérer le Contenu publié sur la Plateforme. Nous pouvons supprimer ou modifier tout Contenu que nous jugeons inapproprié ou illégal.

<h5>8. Responsabilité</h5>

Nous ne sommes pas responsables du Contenu publié par les utilisateurs. Nous ne sommes pas non plus responsables des dommages causés par l'utilisation de la Plateforme.

<h5>9. Loi applicable et juridiction compétente</h5>

Les présentes Conditions sont régies par le droit senegalais. Tout litige relatif aux présentes Conditions sera soumis à la juridiction des tribunaux du senegal.

En utilisant la Plateforme, vous acceptez les présentes Conditions.

  </div>
  <app-footer></app-footer>
