<app-header></app-header>

<div class="container-fluid annonce py-6 my-3 ">
  <img src="assets/img/bannerAnnonce.png" alt="" class="shadow">
</div>


<!-- Blog Start -->
<div class="container-fluid blog">
  <div class="container">
    <div class="text-center wow bounceInLeft" data-wow-delay="0.0s">
      <h1 class="display-5 mb-5">Resté informe des activites,evenements ...</h1>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Rechercher une annonce" aria-label="Rechercher" [(ngModel)]="filterValue" (keyup)="onSearch()"
          aria-describedby="button-addon2">
        <button   class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa-solid fa-magnifying-glass"
            style="color: #FF9700;"></i></button>
      </div>

    </div>
    <div class="row gx-4 justify-content-center">
      <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" *ngFor="let item of annonceListFilter | slice:(pageActuelle - 1) * articleParPage:(pageActuelle * articleParPage)">
        <div class="blog-item">
          <div class="overflow-hidden rounded">
            <img src="http://localhost:8000/images/{{item.images}}" class="img-fluid w-100" alt="">
          </div>
          <div class="blog-content mx-4 d-flex rounded bg-light">
            <div class="text-dark bg-custom rounded-start">
              <div class="h-100 p-3 d-flex flex-column justify-content-center text-center">

                <p class="fw-bold mb-0">{{item.date_activite }}</p>
                <p class="fw-bold mb-0">Lieu:{{ item.lieu }}</p>

              </div>
            </div>
            <div>

              <p><a  class="h5 lh-base my-auto h-100 p-3">{{ item.description | slice:0:25}} &hellip;</a>
              </p>
              <p><a  [routerLink]="['/detailAnnonce', item.id]" (click)="getAnnonce(item)" class="voirPlus px-3 py-1 mx-3">voir plus</a></p>
                <!-- data-bs-toggle="modal" data-bs-target="#detail" -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Blog End -->


<!-- pagination -->
<div class="demo ">
  <nav class="pagination-outer" aria-label="Page navigation">
    <div class="pagination shadow-lg">
        <button class="page-item page-link"  [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1" class="page-link" aria-label="Previous" >
          <span aria-hidden="true">«</span>
        </button>

      <button class="page-item page-link active" *ngFor="let page of pages" (click)="pageActuelle = page" class="page-link" [style.background]="page === pageActuelle ? 'orange' : 'white'"> {{ page }}</button>
        <button class="page-item page-link" [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1" class="page-link" aria-label="Next" >
          <span aria-hidden="true">»</span>
        </button>
    </div>
  </nav>
</div>


<app-footer></app-footer>
<!-- details annonce -->
<!-- modal details -->
<div class="modal fade" id="detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Details annonce</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    <div>
      <div class="col-12 col-md-12" >
        <div class="card shadow">
          <div class="row g-0 align-items-center">
            <div class="col-md-4">
              <img src="http://localhost:8000/images/{{annonceSelectionner.images}}" class="card-img rounded-start" alt="Artist desk"/>
            </div>
            <div class="col-md-12 col-12">
              <div class="card-body">
                <p>Lieu:{{annonceSelectionner.lieu
                  }}
                </p>

                <p class="card-text mb-4">{{annonceSelectionner.description}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <span class="card-text small"><span class="far fa-calendar-alt me-2"></span>Date:{{annonceSelectionner.date_activite}}</span>
                  <a data-bs-toggle="modal" data-bs-target="#modal-default" class="small"><span class="far fa-comments me-2"></span>{{commentAnnonce.length}}</a>
                </div>
              </div>
              <div class="card-footer" *ngFor="let item of commentAnnonce">
                <p>{{item.description}}</p>
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
<!-- </div> -->

<!-- commentaire -->
<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title">Commentaire</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-footer">
              <input type="text" [(ngModel)]="description" name="description">
                <button type="button" class="btn btn-secondary" (click)="ajoutComment()" data-bs-dismiss="modal">Envoyer</button>
                <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
