.annonce img{
  height: 300px;
  width: 100%;
  /* margin-top: 10px; */
}

.img-fluid{
  height: 300px;
}
.voirPlus{
  background-color: #ff9700;
  border-radius: 10px;
  color: white;
  cursor: pointer;

}
.bg-custom{
  background-color: #ff9700;
}
.bg-custom p{
  color: white;
}

/* pagination */
.pagination-outer {
  text-align: center;
}

.pagination {
  background: #fff;
  display: inline-flex;
  border-radius: 50px;
  padding: 4px 4px;
  overflow: hidden;
  position: relative;
  border: #ff9700 1px solid;
}

.pagination  .page-link {
  color: #19375c;
  background: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 33px;
  width: 45px;
  height: 45px;
  margin: 0 3px;
  border-radius: 50%;
  border: none;
  transition: all 0.4s ease 0s;
}

.pagination .active .page-link,
.pagination .page-link:hover,
.pagination .active .page-link:hover {
  color: #ff9700;
  background-color: #19375c;
}


.pagination  .page-link {
  margin-right: 20px;
}

.pagination  .page-link {
  margin-left: 20px;
}



.pagination .page-link:before,
.pagination  .page-link:after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #19375c;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.pagination .page-link:after {
  background-color: transparent;
  opacity: 1;
  top: 0;
  transition: all 0.3s ease 0.1s;
}

.pagination  .page-link:hover:before,
.pagination .active .page-link:before {
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
  opacity: 1;
  top: 0;
}

.pagination .page-link:hover:after,
.pagination .active .page-link:after {
  transform: scale(1.5);
  background-color: #fff;
  opacity: 0;
  z-index: 1;
}

@media only screen and (max-width: 480px) {
  .pagination {
    display: block;
  }

  .pagination button {
    margin-bottom: 10px;
    display: inline-block;
  }
}


.h-100 {
  height: 100% !important;
  width: ms-auto !important;
}


