

  <app-header></app-header>
  <!-- Hero Start -->
  <div class="container-fluid bg-white py-6 my-4">
    <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-7 col-md-12">
          <small
            class="d-inline-block fw-bold text-dark text-uppercase   rounded-pill px-4 py-1 mb-4 animated bounceInDown">Bienvenue
            sur communeconnect</small>
          <h1 class="display-1 mb-4 animated bounceInDown">Commune<span class="text-cusstom">Connect</span> tout pour
            votre commune</h1>
          <a routerLink="/contact" class="btn btn-custom border-0 rounded-pill py-2 px-4 px-md-5 me-4 mb-2 animated bounceInLeft">Contact
            </a>
          <a href="/acceuil#about" class="btn btn-custom border-0 rounded-pill py-2 px-4 px-md-5 animated bounceInLeft">En savoir plus</a>
        </div>
        <div class="col-lg-5 col-md-12">
          <img src="assets/img/banner.png" class="img-fluid rounded animated zoomIn" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- Hero End -->


  <!-- About Satrt -->
  <div class="container-fluid py-2" >
    <div class="container" >
      <div class="row g-5 align-items-center" id="about">
        <div class="col-lg-5 ">
          <img src="assets/img/about.jpg" class="img-fluid rounded" alt="" style="width: 600px;height: 400px;">
        </div>
        <div class="col-lg-7 wow bounceInUp">
          <small
            class="d-inline-block fw-bold text-dark text-uppercase   rounded-pill px-4 py-1 mb-3">A propos de nous
            </small>
          <h1 class="display-5 mb-4">CommuneConnect</h1>
          <p class="mb-4">L'accès à l'information est un droit fondamental pour les citoyens. Il
          est important que les habitants d'une commune puissent accéder
          facilement aux informations qui les concernent .Cette plateforme est un espace virtuel collaboratif et communicatif, un lieu où les habitants peuvent non seulement rester informés, mais
          aussi s'engager activement dans les aspects cruciaux de la vie locale. Comme:
          </p>
          <div class="row g-4 text-dark mb-5">
            <div class="col-sm-6">
              <i class="fas fa-share text-cusstom me-2"></i>Améliorer l'accès à l'information
            </div>
            <div class="col-sm-6">
              <i class="fas fa-share text-cusstom me-2"></i>Promouvoir la participation citoyenne
            </div>
            <div class="col-sm-6">
              <i class="fas fa-share text-cusstom me-2"></i>Renforcer la communication dans la commune
            </div>
            <div class="col-sm-6">
              <i class="fas fa-share text-cusstom me-2"></i>Créer un sentiment de communauté

            </div>
          </div>
          <!-- <a href="" class="btn btn-primary py-3 px-5 rounded-pill">About Us<i class="fas fa-arrow-right ps-2"></i></a> -->
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->


  <!-- Fact Start-->
  <div class="container-fluid faqt py-4">
    <div class="container">
      <div class="row g-4 align-items-center">
        <div class="col-lg-7">
          <div class="row g-4">
            <div class="col-sm-4 wow bounceInLeft" data-wow-delay="0.0s">
              <div class="faqt-item bg-custom rounded p-4 text-center">
                <i class="fas fa-users fa-4x mb-4 text-white"></i>
                <h1 class="display-4 fw-bold" data-toggle="counter-up">

  {{ressourceList.length}}</h1>
                <p class="text-dark text-uppercase fw-bold mb-0">Ressources</p>
              </div>
            </div>
            <div class="col-sm-4 wow bounceInDown" data-wow-delay="0.0s">
              <div class="faqt-item bg-custom rounded p-4 text-center">
                <img src="assets/img/megaphone.png" alt="">
                <h1 class="display-4 fw-bold" data-toggle="counter-up">{{annonceList.length}}</h1>
                <p class="text-dark text-uppercase fw-bold mb-0">Annonces</p>
              </div>
            </div>
            <div class="col-sm-4 wow bounceInRight" data-wow-delay="0.0s">
              <div class="faqt-item bg-custom rounded p-4 text-center">
                <i class="fas fa-check fa-4x mb-4 text-white"></i>
                <h1 class="display-4 fw-bold" data-toggle="counter-up">{{bienList.length}}</h1>
                <p class="text-dark text-uppercase fw-bold mb-0">Bien Perdu/Retrouve</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.0s">
          <div class="video">
            <button type="button" class="btn btn-play" data-bs-toggle="modal"
              data-src="https://www.youtube.com/watch?v=ZfKDvO9TIDg" data-bs-target="#videoModal">
              <span></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Video -->
  <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content rounded-0">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- 16:9 aspect ratio -->
          <div class="ratio ratio-16x9">
            <iframe width="656" height="369" src="https://www.youtube.com/embed/gFvz-OCia_w" title="Stratégie de développement communautaire" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <!-- <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
              allow="autoplay"></iframe> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fact End -->

  <!-- annonces Start -->
  <div class="container-fluid blog py-5">
    <div class="container">
      <div class="text-center wow bounceInLeft" data-wow-delay="0.0s">
        <small
          class="d-inline-block fw-bold text-dark text-uppercase  rounded-pill px-4 py-1 mb-3">Nos
          annonces</small>
        <h1 class="display-5 mb-5">Soyez le premier informe des nouvelles</h1>
      </div>
      <div class="row gx-4 justify-content-center">
        <div class="col-md-6 col-lg-4 wow bounceInDown" data-wow-delay="0.0s" *ngFor="let item of lastThreePublications">
          <div class="blog-item">
          <div class="overflow-hidden rounded">
            <img src="http://localhost:8000/images/{{item.images}}" class="img-fluid w-100" alt="">
          </div>
          <div class="blog-content mx-3 d-flex rounded bg-light">
            <div class="text-dark bg-custom rounded-start">
              <div class="h-100 p-3 d-flex flex-column justify-content-center text-center">

                <!-- <p class="fw-bold mb-0">{{item.date_activite }}</p> -->
                <p >{{item.date_activite}}</p>
                <p class="fw-bold mb-0 ">Lieu:{{ item.lieu }}</p>

              </div>
            </div>
            <div>

              <p><a  class="h5 lh-base my-auto h-100 p-3">{{ item.description | slice:0:25}} &hellip;</a>
              </p>
              <p><a [routerLink]="['/detailAnnonce', item.id]" (click)="getAnnonce(item)" class="voirPlus px-3 py-1 mx-3">voir plus</a></p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="text-center wow bounceInUp" data-wow-delay="0.0s">
      <a routerLink="/annonce" class="text-center btn btn-custom border-0 rounded-pill py-2 px-4 px-md-5 animated bounceInLeft">Decouvrir plus<i class="bi bi-arrow-right bi-lg"></i></a>
    </div>
  </div>
  <!-- annonces End -->


  <!-- Service Start -->
  <div class="container-fluid service py-5">
    <div class="container">
      <div class="text-center wow bounceInLeft" data-wow-delay="0.0s">
        <small
          class="d-inline-block fw-bold text-dark text-uppercase  rounded-pill px-4 py-1 mb-3">ce que nous proposons
          </small>
        <h1 class="display-5 mb-5">Ce que nous  offrons </h1>
      </div>
      <div class="row g-4">
        <div class="col-lg-4 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.0s">
          <div class="rounded service-item shadow">
            <div class="service-content d-flex align-items-center justify-content-center p-4">
              <div class="service-content-icon text-center">
                <i class="fa-solid fa-book-open fa-lg" style="color: #FF9700;"></i>
                <h4 class="mb-3">Annuaires</h4>
                <p class="mb-4">Consultez le Répertoire de nos
                lieux de culte, etablissements,qui appartiennent à notre commune.
                </p>
                <a routerLink="/annuaire" class="btn btn-custom1 px-4 py-1 rounded-pill">Decouvrir</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 wow bounceInRight" data-wow-delay="0.0s">
          <div class="rounded service-item shadow">
            <div class="service-content d-flex align-items-center justify-content-center p-4">
              <div class="service-content-icon text-center">
                <i class="fa-solid fa-handshake-simple fa-lg" style="color: #FF9700;"></i>
                <h4 class="mb-3">Opportinutes</h4>
                <p class="mb-4">Renseignez-vous sur les différentes opportunités disponibles : offres d'emploi, le bénévolat.

                </p>
                <a  routerLink="/contact"  class="btn btn-custom1 px-4 py-1 rounded-pill">Decouvrir</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 wow bounceInDown" data-wow-delay="0.0s">
          <div class="rounded service-item shadow">
            <div class="service-content d-flex align-items-center justify-content-center p-4">
              <div class="service-content-icon text-center">
              <i class="fa-solid fa-images fa-lg" style="color: #FF9700;"></i>
                <h4 class="mb-3">Galerie</h4>
                <p class="mb-4">Decouvrez tout le charme de notre communaute a travers notre gallerie de photo</p>
                <a routerLink="/galerie" class="btn btn-custom1 px-4 py-1 rounded-pill">Decouvrir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service End -->


  <!-- benevelat -->
  <div class="container grand">
  <div class="bene card shadow px-4 py-1 mb-6">
    <div class="card-body text-center text-md-left">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h2 class="mb-3 text-white">Bénévolat</h2>
          <p class="mb-4">
          Le bénévolat, ce n’est pas
          seulement se rendre utile
          pour les autres. C’est aussi
          vous enrichir humainement
          en vous impliquant, avec
          d'autres bénévoles, dans des
          actions qui ont du sens.
</p>
          <a routerLink="/contact" class="btn btn-custom">
            <span class="me-1">
              <span class="fas fa-file-invoice"></span>
            </span>
            En savoir plus
          </a>
        </div>
        <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
          <img src="assets/img/8.jpg" alt="" class="w-100">
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- end bene -->


  <!-- Back to Top -->
  <a  class="btn btn-md-square btn-custom rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


<app-footer></app-footer>



