
<app-header></app-header>
<!-- Hero Start -->
<div class="container-fluid bg-light py-6 my-2 mt-4">
  <div class="container text-center animated bounceInDown">
    <h1 class="display-1 mb-4">Galerie</h1>
    <ol class="breadcrumb justify-content-center mb-0 animated bounceInDown">
      <li class="breadcrumb-item"><a routerLink="/acceuil">Acceuil</a></li>
      <!-- <li class="breadcrumb-item"><a href="#">Pages</a></li> -->
      <li class="breadcrumb-item text-dark" aria-current="page">Events</li>
    </ol>
  </div>
</div>
<!-- Hero End -->
<!-- Events Start -->
<div class="container-fluid event py-2">
  <div class="container">
    <div class="text-center wow bounceInUp" data-wow-delay="0.0s">
      <h1 class="display-5 mb-5">Ces éléments visuels racontent une histoire,un événement</h1>
    </div>
    <div class="tab-class text-center">
      <ul class="nav nav-pills d-inline-flex justify-content-center mb-5 wow bounceInUp" data-wow-delay="0.1s">
        <li class="nav-item p-2 ">
          <a class="d-flex mx-2 py-2 border border-primary  rounded-pill active" data-bs-toggle="pill"
            href="#tab-1">
            <span class="text-dark" style="width: 150px;">All</span>
          </a>
        </li>
        <li class="nav-item p-2">
          <a class="d-flex py-2 mx-2 border border-primary bg-light rounded-pill" data-bs-toggle="pill" href="#tab-2">
            <span class="text-dark" style="width: 150px;">Edifice</span>
          </a>
        </li>
        <li class="nav-item p-2">
          <a class="d-flex mx-2 py-2 border border-primary bg-light rounded-pill" data-bs-toggle="pill" href="#tab-3">
            <span class="text-dark" style="width: 150px;">Place publique</span>
          </a>
        </li>
        <li class="nav-item p-2">
          <a class="d-flex mx-2 py-2 border border-primary bg-light rounded-pill" data-bs-toggle="pill" href="#tab-4">
            <span class="text-dark" style="width: 150px;">Evenements</span>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">
          <div class="row g-4">
            <div class="col-lg-12">
              <div class="row g-4">
                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s">
                  <div class="event-img position-relative">
                    <img class="img-fluid rounded w-100" src="https://t3.ftcdn.net/jpg/06/47/31/32/240_F_647313224_n9UxIST3WGSsZBOQTW9w4AT8fCLRQT8I.jpg" alt="">
                    <div class="event-overlay d-flex flex-column p-4">
                      <h4 class="me-auto">Ecole</h4>
                      <i
                          class="fas fa-search-plus text-dark fa-2x"></i>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.3s">
                  <div class="event-img position-relative">
                    <img class="img-fluid rounded w-100" src="https://media.istockphoto.com/id/1479815384/fr/photo/centre-m%C3%A9dical-%C3%AEle-de-gor%C3%A9e-dakar-s%C3%A9n%C3%A9gal.jpg?s=612x612&w=0&k=20&c=-vkUM5QW8MXsPCgOLG8dYswl97ttFEEfjNvbCQl8Eac=" alt="">
                    <div class="event-overlay d-flex flex-column p-4">
                      <h4 class="me-auto">Hopital</h4>
                      <i
                          class="fas fa-search-plus text-dark fa-2x"></i>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.5s">
                  <div class="event-img position-relative">
                    <img class="img-fluid rounded w-100" src="https://media.istockphoto.com/id/1039845904/fr/photo/des-hommes-non-identifi%C3%A9s-diola-faire-la-queue-pendant-une-danse-traditionnelle-kumpo-dans.jpg?s=612x612&w=0&k=20&c=xeUBem8MyBnJFmBr6nW-NyFq6oUGvyssGXx9daxWfxc=" alt="">
                    <div class="event-overlay d-flex flex-column p-4">
                      <h4 class="me-auto">Evenement</h4>
                      <i
                          class="fas fa-search-plus text-dark fa-2x"></i>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.7s">
                  <div class="event-img position-relative">
                    <img class="img-fluid rounded w-100" src="https://media.istockphoto.com/id/1545846414/fr/photo/mosqu%C3%A9e-de-medina-baye-kaolack.jpg?s=612x612&w=0&k=20&c=GBumDFsMCDzDgfncaV86zKu_xyg25T3s7fez-QHbaMU=" alt="">
                    <div class="event-overlay d-flex flex-column p-4">
                      <h4 class="me-auto">Mosquee</h4>
                      <i
                          class="fas fa-search-plus text-dark fa-2x"></i>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s">
                  <div class="event-img position-relative">
                    <img class="img-fluid rounded w-100" src="https://media.istockphoto.com/id/1383758334/fr/photo/atmosph%C3%A8re-merveilleuse-%C3%A0-lint%C3%A9rieur-du-march%C3%A9-oriental.jpg?s=612x612&w=0&k=20&c=uDMzQJNI_n5J2o7Yv9eLE9YpycTPoVsOasaSaep8nzI=" alt="">
                    <div class="event-overlay d-flex flex-column p-4">
                      <h4 class="me-auto">Art</h4>
                      <i
                          class="fas fa-search-plus text-dark fa-2x"></i>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.3s">
                  <div class="event-img position-relative">
                    <img class="img-fluid rounded w-100" src="https://media.istockphoto.com/id/1305685249/fr/photo/pharmacie-dakaroise.jpg?s=612x612&w=0&k=20&c=BA5KC80OX9Yb4YmW9LufTLY441WHA1rAbuZ5jXFBotE=" alt="">
                    <div class="event-overlay d-flex flex-column p-4">
                      <h4 class="me-auto">Pharmacie</h4>
                      <i class="fas fa-search-plus text-dark fa-2x"></i>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.5s">
                  <div class="event-img position-relative">
                    <img class="img-fluid rounded w-100" src="https://media.istockphoto.com/id/482455561/fr/photo/march%C3%A9-afrique.jpg?s=612x612&w=0&k=20&c=uO8GSzhHc7WC5RBAvXZE4tDCfle_GnfxMQtP33-k3AM=" alt="">
                    <div class="event-overlay d-flex flex-column p-4">
                      <h4 class="me-auto">Art</h4>
                      <i class="fas fa-search-plus text-dark fa-2x"></i>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.7s">
                  <div class="event-img position-relative">
                    <img class="img-fluid rounded w-100" src="https://media.istockphoto.com/id/460783607/fr/photo/sc%C3%A8ne-de-rue-du-s%C3%A9n%C3%A9gal.jpg?s=612x612&w=0&k=20&c=onmsLABi-ZAF7mTbZg_wFFXfaQYSYDAmm8mHcKR9SQM=" alt="">
                    <div class="event-overlay d-flex flex-column p-4">
                      <h4 class="me-auto">Place publique</h4>
                      <i class="fas fa-search-plus text-dark fa-2x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="d-flex justify-content-center mt-4">

          <a href="#" class="btn btn-custom1 px-4 py-1 rounded-pill">Voir plus</a>
        </div>
      </div>
    </div>
  </div>
<!-- Events End -->
<app-footer></app-footer>
