<app-header></app-header>
<!-- <div class="container">
    <div class="text-center mb-2-8 mb-lg-6">
        <h2 class="display-18 display-md-16 display-lg-14 font-weight-700">Why choose <strong class="text-primary font-weight-700">Us</strong></h2>
        <span>The trusted source for why choose us</span>
    </div>
    <div class="row align-items-center">
        <div class="col-sm-6 col-lg-4 mb-2-9 mb-sm-0">
            <div class="pr-md-3">
                <div class="text-center text-sm-right mb-2-9">
                    <div class="mb-4">
                        <img src="https://www.bootdey.com/image/80x80/FFB6C1/000000" alt="..." class="rounded-circle">
                    </div>
                    <h4 class="sub-info">Residential Cleaning</h4>
                    <p class="display-30 mb-0">Roin gravida nibh vel velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
                </div>
                <div class="text-center text-sm-right">
                    <div class="mb-4">
                        <img src="https://www.bootdey.com/image/80x80/87CEFA/000000" alt="..." class="rounded-circle">
                    </div>
                    <h4 class="sub-info">Commercial Cleaning</h4>
                    <p class="display-30 mb-0">Gravida roin nibh vel velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block">
            <div class="why-choose-center-image">
                <img src="https://www.bootdey.com/image/350x350/FF7F50/000000" alt="..." class="rounded-circle">
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="pl-md-3">
                <div class="text-center text-sm-left mb-2-9">
                    <div class="mb-4">
                        <img src="https://www.bootdey.com/image/80x80/8A2BE2/000000" alt="..." class="rounded-circle">
                    </div>
                    <h4 class="sub-info">Washing services</h4>
                    <p class="display-30 mb-0">Nibh roin gravida vel velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
                </div>

                <div class="text-center text-sm-left">
                    <div class="mb-4">
                        <img src="https://www.bootdey.com/image/80x80/20B2AA/000000" alt="..." class="rounded-circle">
                    </div>
                    <h4 class="sub-info">Carpet cleaning</h4>
                    <p class="display-30 mb-0">Vel proin gravida nibh velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="banniere py-6">
  <img src="assets/img/res.png" alt="" class="w-100">
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <a href="#"> <img class="img" src="https://img.freepik.com/photos-gratuite/robot-anthropomorphe-interieur_23-2150405626.jpg?size=626&ext=jpg&ga=GA1.2.359486737.1694125754&semt=sph"> </a>
            <div class="ripple-cont"></div>
          </div>
          <div class="blog-table">
            <h6 class="blog-category blog-text-custom"><i class="far fa-newspaper"></i> Ressources</h6>
            <h4 class="blog-card-caption">
              <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
            </h4>
            <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <div class="ftr">
              <div class="author">
                <a routerLink="/detailRessource" class="plus">
                  voir plus
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <a href="#"> <img class="img" src="https://img.freepik.com/photos-gratuite/joli-bebe-noir-maison-ses-parents_23-2149618871.jpg?size=626&ext=jpg&ga=GA1.1.359486737.1694125754&semt=ais"> </a>
            <div class="ripple-cont"></div>
          </div>
          <div class="blog-table">
            <h6 class="blog-category blog-text-custom"><i class="fas fa-blog"></i>Ressources</h6>
            <h4 class="blog-card-caption">
              <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
            </h4>
            <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <div class="ftr">
              <div class="author">
                <a href="#" class="plus">
                  voir plus
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <a href="#"> <img class="img" src="https://img.freepik.com/photos-gratuite/eau-3d-ai-generer_23-2150685276.jpg?size=626&ext=jpg&ga=GA1.1.359486737.1694125754&semt=sph"> </a>
            <div class="ripple-cont"></div>
          </div>
          <div class="blog-table">
            <h6 class="blog-category blog-text-custom"><i class="far fa-newspaper"></i>Ressources</h6>
            <h4 class="blog-card-caption">
              <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
            </h4>
            <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <div class="ftr">
              <div class="author">
                <a href="#" class="plus">
                  voir plus
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <a href="#"> <img class="img"
                src="https://img.freepik.com/photos-gratuite/afro-americain-tenant-ruban-bleu_23-2149132224.jpg?size=626&ext=jpg&ga=GA1.2.359486737.1694125754&semt=ais">
            </a>
            <div class="ripple-cont"></div>
          </div>
          <div class="blog-table">
            <h6 class="blog-category blog-text-custom"><i class="far fa-newspaper"></i>Ressources</h6>
            <h4 class="blog-card-caption">
              <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
            </h4>
            <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <div class="ftr">
              <div class="author">
                <a href="#" class="plus">
                  voir plus
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <a href="#"> <img class="img"
                src="https://img.freepik.com/photos-gratuite/homme-faisant-agriculture-interieur_52683-91940.jpg?size=626&ext=jpg&ga=GA1.2.359486737.1694125754&semt=ais">
            </a>
            <div class="ripple-cont"></div>
          </div>
          <div class="blog-table">
            <h6 class="blog-category blog-text-custom"><i class="far fa-newspaper"></i>Ressources</h6>
            <h4 class="blog-card-caption">
              <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
            </h4>
            <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <div class="ftr">
              <div class="author">
              <a href="#" class="plus">
                voir plus
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <a href="#"> <img class="img"
                src="https://img.freepik.com/photos-gratuite/arretez-fumer-cigarettes_23-2148527426.jpg?size=626&ext=jpg&ga=GA1.2.359486737.1694125754&semt=ais">
            </a>
            <div class="ripple-cont"></div>
          </div>
          <div class="blog-table">
            <h6 class="blog-category blog-text-custom"><i class="far fa-newspaper"></i>Ressources</h6>
            <h4 class="blog-card-caption">
              <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
            </h4>
            <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <div class="ftr">
              <div class="author">
                <a href="#" class="plus">
                  voir plus
                 </a>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>




<!-- pagination -->
<div class="demo ">
  <nav class="pagination-outer" aria-label="Page navigation">
    <ul class="pagination shadow-lg">
      <li class="page-item">
        <a href="#" class="page-link" aria-label="Previous">
          <span aria-hidden="true">«</span>
        </a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item "><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item">
        <a href="#" class="page-link" aria-label="Next">
          <span aria-hidden="true">»</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<app-footer></app-footer>
