

/* css trois card */
h1 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.blog-card-blog {
  margin-top: 30px;
}

.blog-card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.blog-card .blog-card-image {
  height: 50%;
  position: relative;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.blog-card .blog-card-image img {
  width: 100%;
  height: 250px;
  border-radius: 6px;
  pointer-events: none;
}

.blog-card .blog-table {
  padding: 15px 30px;
}

.blog-table {
  margin-bottom: 0px;
}

.blog-category {
  position: relative;
  line-height: 0;
  margin: 15px 0;
}

.blog-text-custom {
  color: #ff9700 !important;
}

.blog-card-blog .blog-card-caption {
  margin-top: 5px;
}

.blog-card-caption {
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blog-card-caption,
.blog-card-caption a {
  color: #333;
  text-decoration: none;
}

p {
  color: #3C4857;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.blog-card .ftr {
  margin-top: 15px;
}

.blog-card .ftr .author {
  color: #888;
}

.blog-card .ftr div {
  display: inline-block;
}

.blog-card .author .avatar {
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}

.blog-card .ftr .stats {
  position: relative;
  top: 1px;
  font-size: 14px;
}

.blog-card .ftr .stats {
  float: right;
  line-height: 30px;
}


/* pagination */
.pagination-outer {
  text-align: center;
}

.pagination {
  background: #fff;
  display: inline-flex;
  border-radius: 50px;
  padding: 4px 4px;
  overflow: hidden;
  position: relative;
  border: #ff9700 1px solid;
}

.pagination .page-link {
  color: #19375c;
  background: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 33px;
  width: 45px;
  height: 45px;
  margin: 0 3px;
  border-radius: 50%;
  border: none;
  transition: all 0.4s ease 0s;
}

.pagination .active .page-link,
.pagination .page-link:hover,
.pagination .active .page-link:hover {
  color: #ff9700;
  background-color: #19375c;
}


.pagination .page-link {
  margin-right: 20px;
}

.pagination .page-link {
  margin-left: 20px;
}



.pagination .page-link:before,
.pagination .page-link:after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #19375c;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.pagination .page-link:after {
  background-color: transparent;
  opacity: 1;
  top: 0;
  transition: all 0.3s ease 0.1s;
}

.pagination .page-link:hover:before,
.pagination .active .page-link:before {
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
  opacity: 1;
  top: 0;
}

.pagination .page-link:hover:after,
.pagination .active .page-link:after {
  transform: scale(1.5);
  background-color: #fff;
  opacity: 0;
  z-index: 1;
}

@media only screen and (max-width: 480px) {
  .pagination {
    display: block;
  }

  .pagination button {
    margin-bottom: 10px;
    display: inline-block;
  }
}


.banniere img{
  height: 300px;
}
.plus{
  background-color: #ff9700;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}
.trait{
  /* width: 700px; */
  height: 0.5px;
  color: #ff9700;
  background-color: #ff9700;
}
