<app-header></app-header>
<!-- <div class="container">
    <div class="text-center mb-2-8 mb-lg-6">
        <h2 class="display-18 display-md-16 display-lg-14 font-weight-700">Why choose <strong class="text-primary font-weight-700">Us</strong></h2>
        <span>The trusted source for why choose us</span>
    </div>
    <div class="row align-items-center">
        <div class="col-sm-6 col-lg-4 mb-2-9 mb-sm-0">
            <div class="pr-md-3">
                <div class="text-center text-sm-right mb-2-9">
                    <div class="mb-4">
                        <img src="https://www.bootdey.com/image/80x80/FFB6C1/000000" alt="..." class="rounded-circle">
                    </div>
                    <h4 class="sub-info">Residential Cleaning</h4>
                    <p class="display-30 mb-0">Roin gravida nibh vel velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
                </div>
                <div class="text-center text-sm-right">
                    <div class="mb-4">
                        <img src="https://www.bootdey.com/image/80x80/87CEFA/000000" alt="..." class="rounded-circle">
                    </div>
                    <h4 class="sub-info">Commercial Cleaning</h4>
                    <p class="display-30 mb-0">Gravida roin nibh vel velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block">
            <div class="why-choose-center-image">
                <img src="https://www.bootdey.com/image/350x350/FF7F50/000000" alt="..." class="rounded-circle">
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="pl-md-3">
                <div class="text-center text-sm-left mb-2-9">
                    <div class="mb-4">
                        <img src="https://www.bootdey.com/image/80x80/8A2BE2/000000" alt="..." class="rounded-circle">
                    </div>
                    <h4 class="sub-info">Washing services</h4>
                    <p class="display-30 mb-0">Nibh roin gravida vel velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
                </div>

                <div class="text-center text-sm-left">
                    <div class="mb-4">
                        <img src="https://www.bootdey.com/image/80x80/20B2AA/000000" alt="..." class="rounded-circle">
                    </div>
                    <h4 class="sub-info">Carpet cleaning</h4>
                    <p class="display-30 mb-0">Vel proin gravida nibh velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="banniere py-6 my-1">
  <img src="assets/img/res.png" alt="" class="w-100 shadow">
</div>
<div class="container">
    <div class="col-sm-12 col-lg-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Rechercher une ressource" aria-label="Rechercher" [(ngModel)]="filterValue" (keyup)="onSearch()"
          aria-describedby="button-addon2">
        <button   class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa-solid fa-magnifying-glass"
            style="color: #FF9700;"></i></button>
      </div>
    </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of ressourceListFilter | slice:(pageActuelle - 1) * articleParPage:(pageActuelle * articleParPage)">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <img class="img" src="https://media.istockphoto.com/id/1181567551/fr/photo/mot-de-ressources-dans-le-cube-en-bois.jpg?s=612x612&w=0&k=20&c=0iFZ0Mirj3ge5wLEjBKnODUlSjxGlM_otqc-hwrpZws=">
            <div class="ripple-cont"></div>
          </div>
          <div class="blog-table">
            <h6 class="blog-category blog-text-custom"><i class="far fa-newspaper"></i> Ressources</h6>
            <h4 class="blog-card-caption">
              <p>{{item.nom}}</p>
            </h4>
            <p class="blog-card-description">{{item.nature| slice:0:50}} ...
            </p>
            <div class="ftr">
              <div class="author">
                <a [routerLink]="['/detailRessource', item.id]"   class="plus">
                  voir plus
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>




<!-- pagination -->
<div class="demo ">
  <nav class="pagination-outer" aria-label="Page navigation">
    <div class="pagination shadow-lg">
        <button class="page-item page-link"  [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1" class="page-link" aria-label="Previous" >
          <span aria-hidden="true">«</span>
        </button>

      <button class="page-item page-link active" *ngFor="let page of pages" (click)="pageActuelle = page" class="page-link" [style.background]="page === pageActuelle ? 'orange' : 'white'"> {{ page }}</button>
        <button class="page-item page-link" [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1" class="page-link" aria-label="Next" >
          <span aria-hidden="true">»</span>
        </button>
    </div>
  </nav>
</div>

<app-footer></app-footer>

<!-- deatails -->
<!-- <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title">Details ressource</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ressourceSelectionner.nom}}</p>
                <p>{{ressourceSelectionner.nature}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->


