
<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status? 'hide' : ''">
  <div class="logo">

    <img src="assets/img/logo.png" alt="" style="width: 100px;height: 100px;">
  </div>

  <ul class="side-menu top">
    <li class="active">
      <a routerLink="/dash">
        <i class="bx bxs-dashboard" style="color: #FF9700;"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-annonce">
        <i class="fa-solid fa-bullhorn fa-sm me-2 mx-2" style="color: #FF9700;"></i>
        <span class="text">Gestion Annonces</span>
        </a>
    </li>
    <li>
      <a routerLink="/gestion-ressource">
         <i class="fa-solid fa-file-invoice fa-sm mb-2 mx-2 my-1" style="color: #FF9700;"></i>
        <span class="text">Gestion Ressources</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-commentaire">
        <i class="bx bxs-message-dots bxs-sm" style="color: #FF9700;"></i>
        <span class="text">Gestion Commentaires</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-annuaire">
       <i class="fa-solid fa-book-open fa-sm me-2 mx-2" style="color: #FF9700;"></i>
        <span class="text">Gestion Annuaires</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-bien">
        <i class="bi bi-arrow-down-left-square-fill mx-2"  style="color: #FF9700;"></i>
        <span class="text">Gestion Bien</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestion-produit">
        <i class="fa-solid fa-shop fa-sm mx-2 " style="color: #FF9700;"></i>
        <span class="text">Gestion Produit</span>
      </a>
    </li>
    <li>
      <a routerLink="/message">
      <i class="fa-solid fa-message fa-sm mx-2" style="color: #FF9700;">
      </i><span class="text">Message</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <!-- <li>
      <a href="#">
        <i class='bx bxs-cog'></i>
        <span class="text">Profil</span>
      </a>
    </li> -->
    <li>
      <a routerLink="/acceuil">
        <i class="bi bi-arrow-right mx-2" style="color: #FF9700;"></i>
        <span class="text">allez au site</span>
      </a>
    </li>
    <li>
      <a (click)="logout()" class="logout">
        <i class='bx bxs-log-out-circle'></i>
        <span class="text">Deconnexion</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->



<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i (click)="addToggle()" class='bx bx-menu'></i>
    <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Search...">
        <button type="button" class="search-btn"><i class='bx bx-search'></i></button>
      </div>
    </form>
    <a  class="notification">
      <i class='bx bxs-bell'></i>
    </a>
    <a href="#" class="profile">
      <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
    </a>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a class="active" href="#">Home</a>
          </li>
        </ul>
      </div>
    </div>

    <ul class="box-info">
      <li class="cardTete shadow">
        <i class='bx'><i class="fa-solid fa-user fa-sm" style="color: #19375c;"></i></i>
        <span class="text">
          <h3>{{utilisateurList.length}}</h3>
          <p>Utilisateurs</p>
        </span>
      </li>
      <li class="cardTete shadow">
        <i class='bx'><i class="fa-solid fa-bullhorn fa-sm me-2 mx-2" style="color: #FF9700;"></i>
</i>
        <span class="text">
          <h3>{{annonceList.length}}</h3>
          <p>Annonces</p>
        </span>
      </li>
      <li class="cardTete  shadow">
        <i class='bx'><i class="fa-solid fa-book-open fa-sm" style="color: #19375c;"></i></i>
        <span class="text">
          <h3>{{ressourceList.length}}</h3>
          <p>Ressources</p>
        </span>
      </li>
    </ul>
<!-- datatable -->

<!-- <table datatable [dtOptions]="dtOptions"  class="row-border hover table">
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Foo</td>
      <td>Bar</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Someone</td>
      <td>Youknow</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Iamout</td>
      <td>Ofinspiration</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Yoda</td>
      <td>Skywalker</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Patrick</td>
      <td>Dupont</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Barack</td>
      <td>Obama</td>
    </tr>
    <tr>
      <td>7</td>
      <td>François</td>
      <td>Holland</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Michel</td>
      <td>Popo</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Chuck</td>
      <td>Norris</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Simon</td>
      <td>Robin</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Louis</td>
      <td>Lin</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Zelda</td>
      <td>Link</td>
    </tr>
  </tbody>
</table> -->



<!-- end -->

     <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Utilisateurs</h3>
          <i class='bx bx-search'></i>
          <i class='bx bx-filter'></i>
        </div>
        <table  class="table" *ngIf="utilisateurList.length < 0">
  <thead>
    <tr>
      <th>N</th>
      <th>Nom</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">aucune donne disponible</td>
    </tr>
  </tbody>
        </table>
        <table datatable [dtOptions]="dtOptions"  class="row-border hover table" *ngIf="utilisateurList.length > 0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of utilisateurList; let index = index">
  <td>{{ index + 1 }}</td>
  <td>{{ item.prenom }} {{ item.nom }}</td>
  <td>
        <span *ngIf="isUserActive(item) && this.userId==item.id">
          <span class="badge bg-success">Actif</span>
        </span>
        <span *ngIf="!isUserActive(item) ">
          <span class="badge bg-secondary">Inactif</span>
        </span>
      </td>
</tr>
  </tbody>
        </table>




      </div>
      <div class="todo">
        <div class="head">
          <h3>Newsletter</h3>
          <i class='bx bx-plus'></i>
          <i class='bx bx-filter'></i>
        </div>
        <!-- <table   class="table" *ngIf="tabNews.length < 0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2">aucune donnee</td>

    </tr>
  </tbody>
</table> -->
<table  class="table" *ngIf="tabNews.length<0">
  <thead>
    <tr>
      <th>N</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>aucune donne</td>

    </tr>
  </tbody>
</table>


<table datatable [dtOptions]="dtOptions"  class="row-border hover table" *ngIf="tabNews.length>0">
  <thead>
    <tr>
      <th>N</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tabNews,let index=index">
      <td>{{index+1}}</td>
      <td>{{item.email}}</td>
    </tr>
  </tbody>
</table>

      </div>
    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->




