<app-header></app-header>
<br>
<br>
<br>
<br>
<br>
  <h5 class="text-center">Descriptif</h5>
<div id="trait" class="mb-2">
    <div id="line"></div>
  </div>
<div class="container py-5 my-5">


  <h4>1. Introduction</h4>
  <p>
  La présente politique de confidentialité a pour objet de vous informer de la manière dont nous traitons les données à caractère personnel que vous nous fournissez lorsque vous utilisez notre plateforme communautaire.
</p>

<h4>2. Quelles données à caractère personnel collectons-nous ?</h4>
<p>
Lorsque vous utilisez la Plateforme, nous pouvons collecter les données à caractère personnel suivantes :

    Informations de base: votre nom, votre adresse e-mail, votre numéro de téléphone, votre photo de profil, votre date de naissance et votre pays de résidence.
    Contenu généré par l'utilisateur: les messages, les commentaires, les photos et les vidéos que vous publiez sur la Plateforme.
    Données d'interaction: les informations relatives à votre utilisation de la Plateforme, telles que les pages que vous visitez, les liens sur lesquels vous cliquez et les personnes avec lesquelles vous interagissez.
    Données de localisation: si vous avez activé les services de localisation sur votre appareil, nous pouvons collecter des informations sur votre emplacement géographique.
    Données techniques: l'adresse IP de votre appareil, le type de navigateur et de système d'exploitation que vous utilisez, et les cookies installés sur votre appareil.

</p>
<h4>3. Comment utilisons-nous vos données à caractère personnel ?</h4>
<p>

Nous utilisons vos données à caractère personnel pour les finalités suivantes :

    Fournir et améliorer la Plateforme : nous utilisons vos données pour vous fournir un accès à la Plateforme et à ses fonctionnalités, et pour améliorer votre expérience utilisateur.
    Personnaliser votre expérience : nous utilisons vos données pour vous proposer des contenus et des publicités qui vous sont pertinents.
    Communiquer avec vous : nous utilisons vos données pour vous envoyer des informations sur la Plateforme, des newsletters et des offres promotionnelles.
    Assurer la sécurité de la Plateforme : nous utilisons vos données pour détecter et prévenir les fraudes et les abus.
    Réaliser des analyses et des statistiques : nous utilisons vos données pour analyser l'utilisation de la Plateforme et améliorer nos services.

</p>
<h4>4. Avec qui partageons-nous vos données à caractère personnel ?</h4>
<p>

Nous pouvons partager vos données à caractère personnel avec les catégories de tiers suivantes :

    Nos prestataires de services : nous pouvons partager vos données avec des prestataires de services qui nous aident à fournir la Plateforme, tels que des hébergeurs, des fournisseurs de services de paiement et des agences de marketing.
    Les autorités publiques : nous pouvons être amenés à partager vos données avec les autorités publiques si la loi l'exige ou si nous pensons que cela est nécessaire pour protéger nos droits ou les droits d'autrui.

</p>
<h4>5. Combien de temps conservons-nous vos données à caractère personnel ?</h4>
<p>
Nous conservons vos données à caractère personnel pendant la durée nécessaire aux finalités pour lesquelles elles ont été collectées, puis nous les supprimons ou les anonymisons.
</p>
<h4>7. Comment nous contacter ?</h4>
<p>
Si vous avez des questions ou des demandes concernant la présente Politique, vous pouvez nous contacter par e-mail à l'adresse suivante : simplon@gmail.com.
</p>
<h4>9. Information importante</h4>
<p>
  La présente Politique est régie par le droit senegalais.

  En utilisant la Plateforme, vous acceptez la présente Politique.
</p>
</div>
<app-footer></app-footer>
